.container {
	width: 1000px;
	height: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	margin-top: 30px;
}

.input-form {
	background-color: #fff;
	width: 600px;
	margin: auto;
	margin-top: 30px;
	border-radius: 10px;
	padding: 10px;
	display: block;
}
.input-form input,
.table-container input {
	display: block;
	margin-bottom: 10px;
	width: 60%;
	height: 35px;
	padding-left: 10px;
	border-radius: 5px;
	border-width: 1px;
}

.input-form button {
	width: 100px;
	height: 40px;
	background-color: skyblue;
	border-width: 0;
}
.table-container {
	width: 1000px;
	/* height: 600px; */
	background: #fff;
	margin: auto;
	margin-top: 30px;
	border-radius: 0px;
	padding: 10px;
	border-collapse: collapse;
}
td,
th {
	border: 1px solid skyblue;
	text-align: left;
	padding: 4px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
